<section id="experiencia-laboral" class="max-w-[1120px] mx-auto w-full mb-[80px] sm:mb-[200px]">
  <h2
    class="text-2xl sm:text-6xl text-negro border-b border-gray-300 pb-10 font-medium"
  >
    Experiencia laboral
  </h2>

  <div data-aos="fade-up" class="experiencia-item grid grid-cols-1 md:grid-cols-3 mt-10 gap-10">
    <!--Item 1 -->
    <div class="mb-8 md:mb-0">
      <p class="text-negro text-lg mb-2 md:mb-[30px]">
        Agosto 2023 - Octubre 2023
      </p>
    </div>

    <div class="col-span-2">
      <p
        class="text-lg md:text-3xl text-justify text-negro
           leading-normal border-b border-b-gray-300 pb-5 mb-5 md:pb-10 md:mb-10"
      >
        Practica profesional Ingeniería en Informática en <br /><span
          class="text-plomo">Hospital Regional Rancagua</span
        >
      </p>
      <p class="text-base sm:text-lg text-justify text-negro text-pretty">
        Responsable de crear páginas web autoadministrables destinadas a
        diversos departamentos hospitalarios, en donde se requería subir
        documentos, noticias, calendario con eventos, entre otras funciones.
        Además, llevé a cabo pruebas del software desarrollado, elaboré manuales
        de usuario detallados, y realicé presentaciones y reuniones para la toma
        de requisitos con las personas solicitantes del sitio web a desarrollar.
      </p>
    </div>
    
  </div>
</section>
