<header class="bg-red-500">
    <img src="" alt="ngj-logo">
    <nav>
        <a href="">Home</a>
        <a href="">About</a>
        <a href="">Projects</a>
        <a href="" class=" ">Contact</a>
    </nav>
</header>