<section
  class="home max-w-[1120px] mx-auto w-full min-h-[800px] mb-10 sm:md-0 flex"
>
  <div class="w-full flex gap-10 flex-wrap justify-between">
    <!-- Izquierda -->
    <div class="flex flex-col justify-center">
      <h1
        data-aos="fade-up"
        data-aos-delay="700"
        class="h1-home text-4xl sm:text-8xl font-bold mb-8 text-negro"
      >
        Hola <span class="text-transparent bg-clip-text bg-gradient-to-r from-primary to-[#ffdb3c]">Soy Nicolas.</span>
        <br /> Desarollador Web
      </h1>

      <!-- Pequeños datos -->
      <div
        data-aos="fade-up"
        data-aos-delay="1000"
        class="flex flex-wrap gap-1 info-extra"
      >
        <p class="text-base sm:text-xl text-plomo">Ubicado en Chile, Rengo.</p>
        <img
          class="w-7 animate-bounce"
          src="https://em-content.zobj.net/source/apple/237/round-pushpin_1f4cd.png"
          alt="emoticon-ubicacion"
        />
      </div>

      <div
        data-aos="fade-up"
        data-aos-delay="1000"
        class="flex flex-wrap gap-1 info-extra"
      >
        <p class="text-base sm:text-xl text-plomo">
          Titulado en Ingeniería en Informática.
        </p>
        <img
          class="w-7 animate-bounce"
          src="https://em-content.zobj.net/source/apple/81/graduation-cap_1f393.png"
          alt="gorra-ubicacion"
        />
      </div>

      <!-- Habilidades -->
      <div
        data-aos="fade-up"
        data-aos-delay="1300"
        class="skills text-xl mt-20 flex gap-10 items-center flex-col sm:flex-row"
      >
        <p
          class="text-base sm:text-xl text-negro border-b-negro border-b-2 pb-4
        sm:border-b-transparent sm:pb-0 sm:border-r-negro sm:pr-4 sm:border-r-2 inline-block"
        >
          Habilidades
        </p>
        <div>
          <ul class="flex flex-wrap gap-2 justify-center sm:justify-start">
            <li class="has-tooltip">
              <span
                class="tooltip rounded shadow-lg p-1 text-sm bg-gray-50 text-negro -mt-8 sm:-mt-10"
                >HTML</span
              >
              <img src="https://skillicons.dev/icons?i=html" alt="html-logo" />
            </li>
            <li class="has-tooltip">
              <span
                class="tooltip rounded shadow-lg p-1 text-sm bg-gray-50 text-negro -mt-8 sm:-mt-10"
                >CSS</span
              >
              <img src="https://skillicons.dev/icons?i=css" alt="css-logo" />
            </li>
            <li class="has-tooltip">
              <span
                class="tooltip rounded shadow-lg p-1 text-sm bg-gray-50 text-negro -mt-8 sm:-mt-10"
                >JavaScript</span
              >
              <img src="https://skillicons.dev/icons?i=js" alt="js-logo" />
            </li>
            <li class="has-tooltip">
              <span
                class="tooltip rounded shadow-lg p-1 text-sm bg-gray-50 text-negro -mt-8 sm:-mt-10"
                >Tailwind</span
              >
              <img
                src="https://skillicons.dev/icons?i=tailwind"
                alt="tailwind-logo"
              />
            </li>
            <li class="has-tooltip">
              <span
                class="tooltip rounded shadow-lg p-1 text-sm bg-gray-50 text-negro -mt-8 sm:-mt-10"
                >React Js</span
              >
              <img
                src="https://skillicons.dev/icons?i=react"
                alt="react-logo"
              />
            </li>

            <li class="has-tooltip">
              <span
                class="tooltip rounded shadow-lg p-1 text-sm bg-gray-50 text-negro -mt-8 sm:-mt-10"
                >Larvel</span
              >
              <img
                src="https://skillicons.dev/icons?i=laravel"
                alt="laravel-logo"
              />
            </li>
            <li class="has-tooltip">
              <span
                class="tooltip rounded shadow-lg p-1 text-sm bg-gray-50 text-negro -mt-8 sm:-mt-10"
                >Figma</span
              >
              <img
                src="https://skillicons.dev/icons?i=figma"
                alt="figma-logo"
              />
            </li>
            <li class="has-tooltip">
              <span
                class="tooltip rounded shadow-lg p-1 text-sm bg-gray-50 text-negro -mt-8 sm:-mt-10"
                >Adobe XD</span
              >
              <img src="https://skillicons.dev/icons?i=xd" alt="xd-logo" />
            </li>
            <li class="has-tooltip">
              <span
                class="tooltip rounded shadow-lg p-1 text-sm bg-gray-50 text-negro -mt-8 sm:-mt-10"
                >Java</span
              >
              <img src="https://skillicons.dev/icons?i=java" alt="java-logo" />
            </li>
            <li class="has-tooltip">
              <span
                class="tooltip rounded shadow-lg p-1 text-sm bg-gray-50 text-negro -mt-8 sm:-mt-10"
                >Photoshop</span
              >
              <img
                src="https://skillicons.dev/icons?i=photoshop"
                alt="photoshop-logo"
              />
            </li>
          </ul>
        </div>
      </div>
    </div>

    <!-- Derecha -->
    <div
      class="flex items-center justify-center w-full lg:w-fit lg:justify-end mt-10 md:mt-10"
    >
      <div
        class="max-w-[200px] max-h-[200px] animate-bounce rounded-full bg-gradient-to-r from-primary to-[#FFE059] inline-block"
      >
        <img
          src="https://eduardogomez.io/assets/images/memoji.png?v=ae6e178912"
          alt="img-ngj"
        />
      </div>
    </div>
  </div>
</section>
