---
interface Props {
  title: string;
  description: string;
}

const { title, description } = Astro.props;
import Header from "../components/Header.astro";
---

<!doctype html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content={description} />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/logo-ngj.webp" />
    <meta name="generator" content={Astro.generator} />
    <meta name="author" content="Ngj" />
<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-EEJRR28MBH"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-EEJRR28MBH');
</script>
    <meta
      name="keywrods"
      content="Desarrollador web, ngj, ngjoficial, Informatico, Web Developer, 
      Nicolas Garcia, Informatico Rengo, Informatico Chile, Desarollador Software"
    />
    <!--=============== AOS===============-->
    <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />
    <!--=============== Google Font ===============-->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600&display=swap"
      rel="stylesheet"
    />
    <title>{title}</title>
  </head>
  <body class="px-6">
    <Header />
    <slot />

    <script is:inline src="https://unpkg.com/aos@next/dist/aos.js"></script>
    <script is:inline>
      AOS.init({
        offset: 180,
      });
    </script>
  </body>
</html>

<style is:global>
  @font-face {
    font-family:;
    src: url(/font/Satoshi-Regular.ttf);
  }

  *,
  html {
    scroll-behavior: smooth !important;
  }

  .tooltip {
    @apply invisible absolute;
  }

  .has-tooltip:hover .tooltip {
    @apply visible z-50;
  }
  body {
    background: #fffbf6;
    font-family: "Satoshi", sans-serif !important;
  }

  header {
    transition: transform 0.3s ease;
  }

  .header-hidden {
    transform: translateY(-100%);
  }
</style>
