<section
  id="contacto"
  data-aos="fade-up"
  class="w-full flex flex-col items-center justify-center max-w-[1400px] mx-auto py-[90px] px-6"
>
  <div class="flex items-center gap-2 mb-16">
    <h2 class="text-primary text-xl font-bold uppercase">Contacto</h2>
    <img width="35" height="35" src="/telefono.webp" alt="telefono-icon" />
  </div>

  <form id="form" class="text-negro w-full mx-auto max-w-[800px]">
    <!--Nombre -->
    <div class="flex flex-col mb-5">
      <label class="mb-2 text-base sm:text-lg text-primary font-medium" for="from_name"
        >Nombre</label
      >
      <input
        class="text-sm sm:text-base px-6 py-5 rounded-lg border border-[#DCDCDC]
      outline-none bg-white focus:ring-2 ring-secundary"
        type="text"
        name="from_name"
        id="from_name"
        required
        placeholder="Ingresa tu nombre"
      />
    </div>
    <!--Correo -->
    <div class="flex flex-col mb-5">
      <label class="mb-2 text-base sm:text-lg text-primary font-medium" for="email_id"
        >Correo electrónico</label
      >
      <input
        class="text-sm sm:text-base px-6 py-5 rounded-lg border border-[#DCDCDC]
      outline-none bg-white focus:ring-2 ring-secundary"
        type="email"
        name="email_id"
        id="email_id"
        required
        placeholder="Ingresa tu correo electrónico"
      />
    </div>
    <!--Mensaje -->
    <div class="flex flex-col mb-5">
      <label class="mb-2 text-base sm:text-lg text-primary font-medium" for="message"
        >Mensaje</label
      >
      <textarea
        class="text-sm sm:text-base px-6 py-5 min-h-[200px] rounded-lg border border-[#DCDCDC]
      outline-none bg-white focus:ring-2 ring-secundary"
        name="message"
        placeholder="Ingresa mensaje"
        required
        id="message"></textarea>
    </div>
    <!--Button -->
    <div class="flex justify-end w-full">
      <div class="flex flex-col items-center w-full">
        <button
          type="submit"
          id="button"
          class="bg-secundary mx-auto py-3 px-6 flex justify-center rounded-[14px]
           text-white mt-8 text-sm sm:text-base"
        >
          Enviar
        </button>
        <p id="alertMsj" class="text-red-600 text-sm hidden mt-2">
          Rellena todos los campos
        </p>
      </div>
    </div>
  </form>
</section>

<script is:inline>
  function validarEmail(email) {
    // Patrón de expresión regular para validar el formato del correo electrónico
    var regex = /^[^\s@]+@[^\s@]+\.[^\s@]+$/;

    // Verificar si el correo electrónico coincide con el patrón
    return regex.test(email);
  }

  const btn = document.getElementById("button");

  document.getElementById("form").addEventListener("submit", function (event) {
    event.preventDefault();

    const serviceID = "default_service";
    const templateID = "template_fsyvrmd";

    if (
      $("#from_name").val().trim() === "" ||
      $("#message").val().trim() === "" ||
      $("#email_id").val().trim() === ""
    ) {
      $("#alertMsj")
        .addClass("flex")
        .removeClass("hidden")
        .text("Rellena todos los campos");
      return;
    }

    if (!validarEmail($("#email_id").val())) {
      $("#alertMsj")
        .addClass("flex")
        .removeClass("hidden")
        .text("Ingresa un email valido");
      return;
    }
    $("#alertMsj").removeClass("flex").addClass("hidden");
    btn.innerHTML = "Enviando...";

    emailjs.sendForm(serviceID, templateID, this).then(
      () => {
        btn.value = "Send Email";
        window.location.href = "https://ngj.vercel.app/?e=1";
      },
      (err) => {
        btn.value = "Send Email";
        alert(JSON.stringify(err));
      }
    );
  });
</script>
