---
interface Props {
  fecha: string;
  empresa: string;
  cargo: string;
  descripcion: string;
}

const { fecha, empresa, cargo, descripcion } = Astro.props;
---

<ol class="relative max-w-[830px] border-s border-[#cccccc]">
  <li class="mb-10 ms-6">
    <div
      class="absolute w-3 h-3 rounded-full
         mt-1.5 -start-1.5 border-white bg-secundary"
    >
    </div>
    <time class="text-base font-normal leading-none text-plomo">{fecha}</time>
    <h3
      class="titulo font-semibold text-2xl mt-2 text-primary leading-7 sm:text-[40px] sm:leading-10"
    >
      {empresa}
    </h3>
    <p
      class="text-base sm:text-lg font-semibold leading-none text-celeste mt-6 mb-4"
    >
      {cargo}
    </p>
    <p
      class="mb-4 text-base sm:text-lg font-normal text-gray-500 mt-2 text-balance"
    >
      {descripcion}
    </p>
  </li>
</ol>
