---
import ExperienciaItem from "./ExperienciaItem.astro";
---

<section
  data-aos="fade-up"
  id="experiancia-laboral"
  class="w-full flex flex-col items-center justify-center max-w-[1400px] mx-auto py-[90px] px-6"
>
  <div class="flex flex-col sm:flex-row w-full justify-between">
    <div class="flex items-start w-full gap-2 mb-12">
      <h2 class="text-primary text-xl font-bold uppercase">
        Experiencia Laboral
      </h2>
      <img width="35" height="35" src="/maletin.webp" alt="maletin-icon" />
    </div>

    <div class="w-full flex flex-col gap-y-4 justify-end">
      <ExperienciaItem
        fecha="Febrero 2024 - Vigente"
        empresa="Grupo Vortex"
        cargo={"Desarrollador web"}
        descripcion=`
        En mi primera etapa en la empresa fui 
        responsable de brindar mantenimiento y
         mejoras al software existente, además lideré
          un pequeño equipo de practicantes. 
            Posteriormente desarrollé
                una versión completamente
                 nueva del software, enfocada en la 
                 escalabilidad y eficiencia, lo que 
                 ha resultado en una mejora significativa 
                 en la experiencia de los usuarios. 
                 Como parte de este proyecto, también 
                 rediseñé la página de inicio del software (Landing page), 
                 mejorando la estética y la entrega de
                  información para los 
                 usuarios.`
      />
      <ExperienciaItem
        fecha="Agosto 2023 - Octubre 2023"
        empresa="Hospital Regional Rancagua - Práctica profesional"
        cargo={"Desarrollador web"}
        descripcion="Responsable de crear páginas web autoadministrables destinadas a diversos departamentos hospitalarios, en donde se requería subir documentos, noticias, calendario con eventos, entre otras funciones. Además, llevé a cabo pruebas del software desarrollado, elaboré manuales de usuario detallados, y realicé presentaciones y reuniones para la toma de requisitos con las personas solicitantes del sitio web a desarrollar."
      />
    </div>
  </div>
</section>
