---
import { Habilidades } from "./habilidades/Habilidades";
---

<section
  class="flex relative justify-center items-center min-h-[calc(100vh-90px)] max-w-[1400px] mx-auto p-6"
>
  <div class="z-20 w-full flex flex-col justify-center items-center">
    <!--TEXT -->
    <div class="mt-6">
      <div
        data-aos="fade-up"
        data-aos-delay="200"
        class="flex flex-wrap justify-center gap-4"
      >
        <h1
          class="titulo text-6xl sm:text-8xl leading-none font-bold text-primary text-center"
        >
          Hola, soy Nicolás
        </h1>
        <img
          class="hidden md:flex"
          width="100"
          src="/mano.webp"
          alt="mano-icon"
        />
      </div>

      <p
        data-aos="fade-up"
        data-aos-delay="200"
        class="text-primary text-3xl sm:text-5xl text-center mt-4"
      >
        un <span class="text-secundary font-extrabold">Desarrollador Web</span>
      </p>

      <div
        data-aos="fade-up"
        data-aos-delay="200"
        class="flex justify-center md:hidden"
      >
        <img width="100" src="/mano.webp" alt="mano-icon" />
      </div>
      <!--Ubicado -->
      <div
        data-aos="fade-up"
        data-aos-delay="400"
        class="flex justify-center items-center gap-0 mt-12"
      >
        <p class="text-lg sm:text-2xl text-primary text-center">
          Ubicado en Rengo, Chile
        </p>
        <div>
          <img width="35" height="35" src="/clip.webp" alt="clip-icon" />
        </div>
      </div>
      <!--Titulado -->
      <div
        data-aos="fade-up"
        data-aos-delay="400"
        class="flex justify-center items-center gap-0"
      >
        <p class="text-lg sm:text-2xl text-primary text-center">
          Titulado en Ingeniería en Informática.
        </p>
        <div>
          <img width="35" height="35" src="/medal.webp" alt="medal-icon" />
        </div>
      </div>
      <!--Habilidades -->
      <div data-aos="fade-up" data-aos-delay="500" class="mt-12">
        <p class="text-lg sm:text-2xl text-primary text-center">Habilidades</p>
        <Habilidades client:load />
      </div>
    </div>
  </div>

  <div id="element1" class="absolute z-[10] right-0">
    <div
      class="w-[240px] h-[240px] sm:w-[340px] sm:h-[340px] md:w-[400px] md:h-[400px] lg:w-[500px] lg:h-[500px] mt-72 bg-secundary blur-3xl opacity-30 rounded-full"
    >
    </div>
  </div>
  <div id="element2" class="absolute z-[10] left-0 top-[100px]">
    <div
      class="w-[240px] h-[240px] sm:w-[340px] sm:h-[340px] md:w-[400px] md:h-[400px] lg:w-[500px] lg:h-[500px] mb-72 bg-[#7390F9] blur-3xl opacity-30 rounded-full"
    >
    </div>
  </div>

  <div class="absolute left-0 top-[100px]">
    <svg
      width="263"
      height="567"
      viewBox="0 0 263 567"
      fill="none"
      xmlns="http://www.w3.org/2000/svg"
    >
      <path
        d="M46.2262 565.521C18.7335 528.897 -24.5005 443.233 22.5051 393.575C81.2621 331.503 360.599 316.11 224.134 0.79463"
        stroke="white"
        stroke-width="3"></path>
    </svg>
  </div>
  <div class="absolute right-0 top-[100px]">
    <svg
      width="526"
      height="481"
      viewBox="0 0 526 481"
      fill="none"
      xmlns="http://www.w3.org/2000/svg"
    >
      <path
        d="M-438.366 46.401C-447.66 119.174 -397.733 227.539 -123.67 78.8132C218.908 -107.094 366.284 77.3619 377.521 323.56C386.51 520.519 479.076 488.448 524.235 447.793"
        stroke="white"
        stroke-width="4"></path>
    </svg>
  </div>
</section>
