---
import { TabsTrabajos } from "./Trabajos/TabsTrabajos";

const TRABAJOS = [
{
    color: "bg-[#EAF5E7]",
    titulo: "Vortex One - ERP",
    descripcion:
      "Plataforma de ERP para emprendedores, facilitando el control de inventario, análisis de ventas, gastos y más. Desarrollada con React JS y Tailwind",
    link: "https://1vortex.com/login",
    imagen: "/trabajos/trabajo-8.webp",
    tipo: "full-stack",
  },
  {
    color: "bg-[#EAF5E7]",
    titulo: "Vortex One - Landing Page",
    descripcion:
      "Página de inicio de Vortex One: Presenta las funciones integrales de la empresa. Construido usando React JS y Tailwind",
    link: "https://1vortex.com/",
    imagen: "/trabajos/trabajo-7.webp",
    tipo: "front-end",

  },
  {
    color: "bg-[#E7F5F0]",
    titulo: "Epidemiología",
    descripcion:
      "Sitio web autoadministrable desarrollado en mi práctica laboral en el Hospital de Rancagua para el departamento de Epidemiología. Utilicé Laravel para el backend y ReactJS para el frontend.",
    link: "https://epi.hospitalrancagua.cl/",
    imagen: "/trabajos/trabajo-4.webp",
    tipo: "full-stack",
  },
  {
    color: "bg-[#E7F5F0]",
    titulo: "Unidad de investigación",
    descripcion:
      "Sitio web autoadministrable desarrollado en mi práctica laboral en el Hospital de Rancagua para el departamento de Unidad de Investigación en donde se requirieron múltiples funciones. Utilicé Laravel para el backend y ReactJS para el frontend.",
    link: "https://ui.hospitalrancagua.cl/",
    imagen: "/trabajos/trabajo-3.webp",
    tipo: "full-stack",
  },

  {
    color: "bg-[#F4E7F5]",
    titulo: "Tienda y consultoría veterinaria",
    descripcion: `Sitio web desarrollado en mi etapa de estudiante sobre una tienda y consultoría 
      de mascotas. Se pueden gestionar los productos en el carrito y posteriormente finalizar 
      la compra (no cuenta con ninguna API de algún banco) y también cuenta con un foro en 
      donde los dueños de las mascotas ingresan sus dudas y son respondidas por el equipo 
      profesional de la tienda. Trabajado con PHP y Jquery.`,
    link: "http://veterinaria.rf.gd/",
    imagen: "/trabajos/trabajo-6.webp",
    tipo: "full-stack",
  },
  {
    color: "bg-[#FFF5EE]",
    titulo: "Tienda de ropa",
    descripcion: `Sitio web desarrollado en mi etapa de estudiante sobre una tienda de ropa. 
      Se pueden gestionar los productos en el carrito y posteriormente finalizar la compra 
      (no cuenta con ninguna API de algún banco). Trabajado con PHP y Jquery.`,
    link: "http://carrito-tienda-ropa.rf.gd/",
    imagen: "/trabajos/trabajo-5.webp",
    tipo: "full-stack",
  },
  {
    color: "bg-[#F5F0E7]",
    titulo: "Activa tu perfil",
    descripcion: "Desarrollado con Astro y TailwindCSS",
    link: "https://activatuperfil.vercel.app/",
    imagen: "/trabajos/trabajo-2.webp",
    tipo: "front-end",
  },
  {
    color: "bg-[#F5E7F4]",
    titulo: "Tendencias MyM",
    descripcion: "Desarrollado con ReactJs y TailwindCSS",
    link: "https://www.tendenciasmym.cl/",
    imagen: "/trabajos/trabajo-1.webp",
    tipo: "front-end",
  },
];
---

<section
  id="trabajos"
  class="w-full flex flex-col items-center justify-center max-w-[1400px] mx-auto py-[90px] px-6"
>
  <div class="flex items-center gap-2 mb-16">
    <h2 class="text-primary text-xl font-bold uppercase">Trabajos</h2>
    <img width="35" height="35" src="/folder.webp" alt="folder-icon" />
  </div>

  <div class="z-[200]">
    <TabsTrabajos myProyects={TRABAJOS} client:load />
  </div>
</section>
